*.env
*.log

# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv
## python uv


# Java
.idea/
.vscode/
.classpath
.project
.settings/
.metadata
.factorypath
.settings/
*.log
*.log.*

# Go
bin/
pkg/
*.exe
*.test
*.out
go.sum
go.work
go.work.sum
vendor/
coverage.out
# GoLand
.idea/
# Go modules
.gomodcache/
# Go build cache
.cache/
# Go race detector files
*.race

# nodejs
node_modules
.DS_Store
package-lock.json

# github
.github
