[project]
name = "mcp-mini"
version = "0.0.1"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "pydantic==2.11.7",
    "requests==2.32.5",
]
